.container {
  border: solid 1px rgba(135, 135, 135, 0.3);
  border-radius: 4px;
  box-shadow: ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4em;
  box-shadow: 10px 5px 5px rgba(135, 135, 135, 0.3);
}

.button {
  padding: 5px 20px;
  margin-right: 2em;
  border: 1px solid #2c2c2c;
  text-decoration: none;
  color: black;
  border-radius: 4px;
}

.buttonContainer {
  margin-top: 4em;
}
